{% extends "_baseGolfApp.html" %}

{% block content %}
{% load static %}
<a href="{% url 'rd3leaderboard' %}">
<div class="bigShadow" id="checkRoundLeaderboard">
  <span id=leaderboardHighlightText>Rd 3</span> leaderboard
</div></a>

<div class="bigShadow" id="rd3HoleList">

  {% if rd3holemodel_list %}
  {% for hole in rd3holemodel_list %}

  <a href="{{ hole.get_absolute_url }}">
    {% if hole.tussle == 'YES' %}
    <div class="holeEntryTussle" id="holeEntryButtonCTP">
    {% else %}
    <div class="bold" id="holeEntryButtonCTP">
    {% endif %}
      <div id="holeEntryButtonCTPText">{{ hole.number }}</div>
    {% if hole.CTP > 0 %}
      <img id="holeEntryButtonCTPIcon" style="height: 21px;" src=" {% static 'icons/ctpPurple.svg'%}">
    {% elif hole.LD > 0 %}
      <img id="holeEntryButtonCTPIcon" style="height: 20px;" src=" {% static 'icons/ldPurple.svg'%}">
    {% endif %}
    </div></a>
    {% endfor %}
    {% else %}
    {% endif %}

    <a href="{{scorecard_link}}" target="_blank">
    <div class="ScorecardLink" id="rd3ScorecardLink">Course scorecard</div></a>


    </div>
{% endblock %}
