{% extends "_baseGolfApp.html" %}

{% block content %}

{% load static %}

<form method = "POST">
    {% csrf_token %}

<div id="holeDetailsContainer">
{% if hole_tussle == "YES" %}
  <div id="tussleName">{{tussle_name}}</div>
{% endif %}
  <div id="holePar">Par<br><span id=holeDetailsHighlight>{{ hole_par }}</span></div>
  <div id="holeNumber" class="bold">{{ hole_number }}</div>
  <div id="holeIndex">Index<br><span id=holeDetailsHighlight>{{ hole_index }}</span></div>
{% if hole_ctp > 0 %}
  <div class="ctpSubmit">
  <div id="ctpLabelContainer">CTP</div>
  <div id="ctpFormContainer">{{ form.ctp }}</div></div>

{% elif hole_ld > 0 %}
  <div class="ctpSubmit">
  <div id="ctpLabelContainer">LD</div>
  <div id="ctpFormContainer">{{ form.ld }}</div></div>

  {% endif %}

</div>

<div id="scoreScrollContainer">
<div id="scoreSubmitContainer">

<!-- Single player row-->
    {% if active_players >= 1 %}
    <div class="listBuffer">Group One</div>
    <div class="playerRow">
      <img class="playerImage" src="{{ player1.player_name.image.url }}">
      <div class="playerName">{{ player1.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot1_score }}</div>
    </div>
    {% else %}
    Enter players in round slots
    {% endif %}

    {% if active_players >= 2 %}
    <div class="playerRow">
      <img class="playerImage" src="{{ player2.player_name.image.url }}">
      <div class="playerName">{{ player2.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot2_score }}</div>
    </div>
    {% endif %}

    {% if active_players >= 3 %}
    <div class="playerRow">
      <img class="playerImage" src="{{ player3.player_name.image.url }}">
      <div class="playerName">{{ player3.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot3_score }}</div>
    </div>
    {% endif %}

    {% if active_players >= 4 %}
    <div class="playerRow">
      <img class="playerImage" src="{{ player4.player_name.image.url }}">
      <div class="playerName">{{ player4.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot4_score }}</div>
    </div>

    {% endif %}

    {% if active_players >= 5 %}
    <div class="listBuffer">Group Two</div>
    <div class="playerRow">
      <img class="playerImage" src="{{ player5.player_name.image.url }}">
      <div class="playerName">{{ player5.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot5_score }}</div>
    </div>
    {% endif %}

    {% if active_players >= 6 %}
    <div class="playerRow">
      <img class="playerImage" src="{{ player6.player_name.image.url }}">
      <div class="playerName">{{ player6.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot6_score }}</div>
    </div>
    {% endif %}

    {% if active_players >= 7 %}
    <div class="playerRow">
      <img class="playerImage" src="{{ player7.player_name.image.url }}">
      <div class="playerName">{{ player7.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot7_score }}</div>
    </div>
    {% endif %}

    {% if active_players >= 8 %}
    <div class="playerRow">
      <img class="playerImage" src="{{ player8.player_name.image.url }}">
      <div class="playerName">{{ player8.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot8_score }}</div>
    </div>
    {% endif %}

    {% if active_players >= 9 %}
    <div class="listBuffer">Group Three</div>
    <div class="playerRow">
      <img class="playerImage" src="{{ player9.player_name.image.url }}">
      <div class="playerName">{{ player9.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot9_score }}</div>
    </div>
    {% endif %}

    {% if active_players >= 10 %}
    <div class="playerRow">
      <img class="playerImage" src="{{ player10.player_name.image.url }}">
      <div class="playerName">{{ player10.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot10_score }}</div>
    </div>
    {% endif %}

    {% if active_players >= 11 %}
    <div class="playerRow">
      <img class="playerImage" src="{{ player11.player_name.image.url }}">
      <div class="playerName">{{ player11.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot11_score }}</div>
    </div>
    {% endif %}

    {% if active_players >= 12 %}
    <div class="playerRow">
      <img class="playerImage" src="{{ player12.player_name.image.url }}">
      <div class="playerName">{{ player12.player_name.name }}</div>
      <div class="scoreInputField">{{ form.slot12_score }}</div>
    </div>
    {% endif %}

  </div>
</div>

<div id="submitButtonContainer">

  <div id="holeDetailBackButton">
    <!-- Change next row for each round -->
    <a href="{% url 'rd3holelist' %}">
      <img id="holeDetailBackIcon" src="{% static 'icons/holeDetailBackWhite.svg' %}"></a></div>

  <button id="scoreSubmitButton" type="submit">
      <img style="width: 50%" src="{% static 'icons/scoreSubmitWhite.svg' %}">
    </button>
  </div></form>

{% endblock %}
