{% extends "_baseGolfApp.html" %}

{% block content %}
{% load static %}
<div id="scoringScrollContainer">

<a href="{% url 'rd1holelist' %}">
<div class="bigShadow scorepageButton" id="scorespageButtonRd1">
  <div id="scorespageIconContainer"><img class="scoresIconImage" src="{% static 'icons/scoresGolfWhite.svg' %}"></div>
  <div class="bold whiteText" id="scorespageTextContainer">Rd 1: {{rd1_name}}</div>
</div></a>

  <a href="{% url 'rd2holelist' %}">
  <div class="bigShadow scorepageButton" id="scorespageButtonRd2">
    <div id="scorespageIconContainer"><img class="scoresIconImage" src="{% static 'icons/scoresGolfWhite.svg' %}"></div>
    <div class="bold whiteText" id="scorespageTextContainer">Rd 2: {{rd2_name}}</div>
  </div></a>

  <a href="{% url 'rd3holelist' %}">
  <div class="bigShadow scorepageButton" id="scorespageButtonRd3">
    <div id="scorespageIconContainer"><img class="scoresIconImage" src="{% static 'icons/scoresGolfWhite.svg' %}"></div>
    <div class="bold whiteText" id="scorespageTextContainer">Rd3: {{rd3_name}}</div>
  </div></a>


  <div class="bigShadow scorepageButton" id="scorespageButtonTipping">
    <div id="scorespageIconContainer"><img class="scoresIconImage" src="{% static 'icons/scoresPuttingComp.svg' %}"></div>
    <div class="bold whiteText" id="scorespageTextContainer">Putting Competition</div>
  </div>

  <a href="{% url 'tipresults'%}">
  <div class="bigShadow scorepageButton" id="scorespageButtonTipping">
    <div id="scorespageIconContainer"><img class="scoresIconImage" src="{% static 'icons/scoresTippingWhite.svg' %}"></div>
    <div class="bold whiteText" id="scorespageTextContainer">Sports Tipping</div>
  </div></a>

  <!-- <a href="{% url 'entersocial'%}">
  <div class="bigShadow scorepageButton" id="scorespageButtonSocial">
    <div id="scorespageIconContainer"><img class="scoresIconImage" src="{% static 'icons/scoresSocialWhite.svg' %}"></div>
    <div class="bold whiteText" id="scorespageTextContainer">Social</div>
  </div></a> -->

</div>
{% endblock %}
