{% extends "_baseGolfApp.html" %}

{% block content %}

{% load static %}
<script type="text/javascript" src="{% static 'javascript/jquery.js' %}"></script>

<!-- Player details -->
<a href="{% url 'tourplayers'%}">
<div class="bigShadow landingpageButton" id="landingpageButtonPlayer">
  <div id="landingpageIconContainer"><img class="landingIconImage" src="{% static 'icons/tourdetailsPlayerWhite.svg' %}"></div><!--update this SRC to custom ICON 'tourdetailsNameColor.svg' etc-->
  <div class="bold" id="landingpageTextContainer">Player details</div>
</div></a>

<!-- Points -->
<a href="{% url 'touragenda' %}">
<div class="bigShadow landingpageButton" id="landingpageButtonPoints">
  <div id="landingpageIconContainer"><img class="landingIconImage" src="{% static 'icons/tourdetailsAgendaWhite.svg' %}"></div><!--update this SRC to custom ICON 'tourdetailsNameColor.svg' etc-->
  <div class="bold" id="landingpageTextContainer">Points</div>
</div></a>

<!-- TourMap -->
<a href="{{map_link}}" target="_blank">
  <div class="bigShadow landingpageButton" id="landingpageButtonMap"> <!--id="tourdetailsButtonMap"><update this ID to custom with background images etc-->
  <div id="landingpageIconContainer"><img class="landingIconImage" src="{% static 'icons/tourdetailsMapWhite.svg' %}"></div><!--update this SRC to custom ICON 'tourdetailsNameColor.svg' etc-->
  <div class="bold" id="landingpageTextContainer">Tour Map</div>
</div></a>


{% endblock %}
