{% extends "_baseGolfApp.html" %}

{% block content %}
{% load static %}
<div id="fullscreenScrollContainer">

<div class="bigShadow" id="playerTile">
  <div id="playerTileHeader">
    <div id="playerIndyHeader">{{tour_name}}</div>
    <div id="playerSubHeader">Player details</div>
  </div>

  {% if active_players %}
  {% for player in active_players %}

  <div class="bigShadow" id="playerDetailsTile">
    <img class="bigShadow" id="imgContainer" src="{{ player.image.url }}">
    <div id=tourNumber>{{ player.tournum }}</div>
    <div id="contentContainer">
      <div id="contentHeader">
        <img id="tourIcon" src="{% static 'icons/bayouLogoYellow.svg' %}">
        <div id="detailsPlayerName">{{ player.name }} ({{ player.HC }})</div>
        <div id="contentDescription">{{ player.description }}</div>
        <div id="contentNickname"> {{ player.nickname }}</div>
      </div>
      {% if player.jacket == "YES" %}
      <img id="jacketIcon" src="{% static 'icons/tourdetailsJacketGreen.svg' %}">
      {% endif %}
    </div>
  </div>

  {% endfor %}
  {% else %}
  No players entered
  {% endif %}

</div>

{% endblock %}
