/* FONTS */
/* how to upload custom fonts https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website */
@font-face {
  font-family: 'Main_Font';
  src: local('Main_Font'),
       url('/static/fonts/TreasureMap.ttf') format("truetype");
}

/* KEY APP BRANDING VARIABLES */
:root {
  --brandColorMain: #3cc194; /* App color = Dark/background and main text // GREEN */
  --brandColorHighlight1: #373543; /* App color = 1st highlight color // BLUE */
  --brandColorHighlight2: #373543; /* App color = 2nd highlight color // BLUE */
  --brandFont: 'Main_Font', cursive; /* App font style = XXXX */
  --fontSizeHeader0: 4.5  rem;
  --fontSizeHeader1: 3rem;
  --fontSizeHeader2: 1.5rem;
  --fontSizeHeader3: 1.25rem;
  --fontSizeMainText: 1.1rem;
  --fadeColorMain: rgba(60, 193, 148, 0.7);
  --fadeColorHighlight: rgba(55, 53, 67, 0.7);
}


/* REMAINDER */

* {
  font-family: verdana;
  font-size: 12px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a:link {
  text-decoration: none;
}

.yellowBackground {
  background-color: #F8C145;
}

.yellowBorder {
  border: 1px solid #F8C145;
}

.yellowBorder2 {
  border: 2px solid #F8C145;
}

.blueBorder2 {
  border: 2px solid #051864;
}

.blueBackground {
  background-color: #051864;
}

.boldText {
  font-weight: bold;
}

.blueText {
  color: #051864;
}

.whiteText {
  color: white;
}
.whiteBackground {
  background-color: white;
}

.yellowText {
  color: #F8C145;
}

.purpleText {
  color: #3A178B;
}

.purpleText {
  color: #3A178B;
}

.purpleBackground {
  background-color: #3A178B;
}

.purpleBorder1 {
  border: 1px solid #3A178B;
}

.purpleBorder2 {
  border: 2px solid #3A178B;
}

.orangeText {
  color: #F55700;
}

.orangeBackground {
  background-color: #F55700;
}

.orangeBorder1 {
  border: 1px solid #F55700;
}

.orangeBorder2 {
  border: 2px solid #F55700;
}

.orangeBorder3 {
  border: 4px solid #F55700;
}

.lightorangeText {
  color: #FEA002;
}

.lightorangeBackground {
  background-color: #FEA002;
}

.lightorangeBorder1 {
  border: 1px solid #FEA002;
}

.lightorangeBorder2 {
  border: 2px solid #FEA002;
}

.lightorangeBorder5 {
  border: 5px solid #FEA002;
}

.inactiveText {
  color: grey;
}

.inactiveBackground {
  background-color: #F2F2F2;
}

.inactiveBorder1 {
  border: 1px solid grey;
}



.indyText {
  font-family: 'Boncegro_FF_4F', 'cursive';
  font-size: 1.25rem;
  /* text-transform: uppercase; */
}

.duelText {
  font-family: 'Boncegro_FF_4F', 'cursive';
  font-size: 1.75rem;

}

.duelTextLarge {
  font-family: 'Boncegro_FF_4F', 'cursive';
  font-size: 2.5rem;

}

.greyBackground {
  background-color: #F2F2F2;
}

/*reference only*/
.indyGradient {
  background-image: linear-gradient(170deg,
        rgba(253, 170, 36, 0.3),
        rgba(5, 24, 100, 0.9));
}/*reference only*/

.bold {
  font-weight: bold;
}

.indyText {
  font-family: 'Racing Sans One',verdana;
  text-transform: uppercase;
}

.mobileContainer {
  width: 360px;
  margin: 0 auto;
}

.bigShadow {
  box-shadow: 1px 1px 6px 2px lightgrey;
}

.bigText {
  font-size: 1.25rem;
}

.navIconContainer {
  height: 62px;
  width: 62px;
  background-color: var(--brandColorHighlight1);
  display: inline-block;
  border-radius: 5px;
  border: 3px solid var(--brandColorHighlight2);
  vertical-align: middle;
  margin-top: 17px;
  margin-left: 2px;
  margin-right: 2px;
  /* color: #002557; */
  line-height: 55px;
}

.navIconImage {
  display: block;
  height: 35px;
  margin: 10px auto;
}

.landingIconImage {
  display: block;
  height: 50px;
  margin: 0px auto;
  position: relative;
  bottom: 0;
}

.listBuffer {
  width: 99%;
  margin: 0 auto;
  height: 15px;
  font-size: 8px;
  line-height: 15px;
  border-bottom: 1px solid var(--brandColorMain);
  color: var(--brandColorMain);

}


/* START TEMPLATE */

#header {
  border-bottom: 5px solid var(--brandColorHighlight2);
  background-color: var(--brandColorMain);
  width: 100vw;
  height: 110px;
}

#headerContentContainer {
  height: 105px;
  padding-top: 10px;
  padding-left: 7px;
  overflow: auto;
  white-space: nowrap;

}

#leaderboardIcon {
  display: block;
  height: 42px;
  margin: 7px auto;

}

#scoreIcon {
  display: block;
  height: 45px;
  margin: 6px auto;
  margin-left: 8px;
}

#body {
  width: 100vw;
  height: 100%;
}

#bodyContentContainer {
  height: 450px;
  padding: 10px 0px;
}
/* NOTE bodyContentContainer needs updating for media*/

#footer {
  border-top: 5px solid #051864;
  width: 100vw;
  height: 95px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#footerContentContainer {
  height: 110px;

}

/* END TEMPLATE */

/* START LOGIN */
#loginContainer {
  height: 380px;
  width: 300px;
  box-shadow: 1px 1px 10px 4px grey;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-top: -210px;
  margin-left: -150px;
  border: 2px solid white;
}

#loginHeader {
  height: 25%;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 3px solid var(--brandColorHighlight1);
  line-height: 140px;
  text-align: center;
  font-size: var(--fontSizeMainText);
  color: white;
  background-color: var(--brandColorMain);
  font-family: var(--brandFont);
}

#loginBody {
  height: 43%;
  width: 100%;

}

#loginIconContainer {
  height: 25%;
  width: 100%;
}

#loginIcon {
  display: block;
  height: 65px;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 115px;
}

#loginTextContainer1 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 170px;
  font-size: var(--fontSizeHeader1);
  color: var(--brandColorMain);
  font-family: var(--brandFont);

}

#loginTextContainer2 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 205px;
  font-size: var(--fontSizeHeader1);
  color: var(--brandColorHighlight1);
  font-family: var(--brandFont);

}

#loginAuthContainer {
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  text-transform: none;
  color: grey;
  text-align: center;
  line-height: 35px;
  font-weight: normal;
  position: absolute;
  top: 235px;
}

#loginFooter {
  height: 25%;
  width: 100%;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-top: 3px solid var(--brandColorHighlight1);
  margin-top: 27px;
  background-color: var(--brandColorMain);
}

#entryButton {
  height: 60%;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 15px;
  color: white;
  text-align: center;
  line-height: 47px;
  font-family: var(--brandFont);
  background-color: var(--brandColorHighlight2);
  font-size: var(--fontSizeHeader3);
}

#adminButton {
  height: 40px;
  width: 40px;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 100%;
  box-shadow: 2px 2px 5px 1px lightgrey;
}

#loginSettings {
  height: 20px;
  display: block;
  position: relative;
  top: 8px;
  left: 8px;
}
/* END LOGIN */

/* START LANDINGPAGE */

.landingpageButton {
  height: 122px;
  width: 90%;
  border-radius: 10px;
  margin: 5% auto;
  background-color: white;
  border: 4px solid var(--brandColorHighlight2);
  background-color: var(--brandColorMain);
}

#landingpageButtonLeaderboard {
  background-color: white;
  background-image:
  linear-gradient(170deg,
    var(--fadeColorMain),
    var(--fadeColorHighlight)),
  url(https://thegolfnewsnet.com/wp-content/uploads/2018/03/Golf-board-2014-1030x688.jpg);
  background-size: cover;
  background-position: 40% 20%;
}

#landingpageButtonScores {
  background-color: white;
  background-image:
  linear-gradient(170deg,
    var(--fadeColorMain),
    var(--fadeColorHighlight)),
  url(https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/5/2017/04/GettyImages-52587387-630x473.jpg);
  background-position: 40% 20%;
}

#landingpageButtonDetails {
  background-color: white;
  background-image:
  linear-gradient(170deg,
    var(--fadeColorMain),
    var(--fadeColorHighlight)),
  url(https://www.washingtondukeinn.com/getmedia/eb8a8bef-dfba-4833-b507-79f3359cbfec/sub-bull-durham-bar.jpg?width=1280&height=550&ext=.jpg&maxsidesize=1281);
  background-position: 50% 50%;
}

#landingpageButtonPlayer {
  background-color: white;
  background-image:
  linear-gradient(170deg,
    var(--fadeColorMain),
    var(--fadeColorHighlight)),
  url(https://bayoubonanza-production.s3.us-east-2.amazonaws.com/OtherAssets/playerDetails.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

#landingpageButtonPoints {
  background-color: white;
  background-image:
  linear-gradient(170deg,
    var(--fadeColorMain),
    var(--fadeColorHighlight)),
  url(https://bayoubonanza-production.s3.us-east-2.amazonaws.com/OtherAssets/pointsImage.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

#landingpageButtonMap {
  background-color: white;
  background-image:
  linear-gradient(170deg,
    var(--fadeColorMain),
    var(--fadeColorHighlight)),
  url(https://bayoubonanza-production.s3.us-east-2.amazonaws.com/OtherAssets/mapDetails.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

#landingpageIconContainer {
  height: 62%;
  width: 100%;
  padding-top: 22px;
}

#landingpageTextContainer {
  height: 33%;
  width: 100%;
  line-height: 35px;
  text-align: center;
  font-size: var(--fontSizeHeader3);
  font-family: var(--brandFont);
  color: white;
}


/* END LANDINGPAGE */

/* START FULLLEADERBOARD */

#fullLeaderboardHeader {
  background-color: white;
  height: 65px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 3px solid var(--brandColorMain);
  width: 99%;
  margin: 0 auto;
  margin-bottom: 3px;
  box-shadow: 1px 1px 5px 2px lightgrey;
}

#fullLeaderboardTopText {
    height: 30px;
    text-align: center;
    line-height: 45px;
    color: var(--brandColorHighlight2);
    font-family: var(--brandFont);
    font-size: var(--fontSizeHeader2);
}

#fullLeaderboardHighlightText {
  color: var(--brandColorHighlight1);
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader2);
}

#fullLeaderboardBottomText {
  height: 25px;
  text-align: center;
  color: var(--brandColorMain);
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader3);
}

#fullLeaderboardBody {
  width: 99%;
  margin: 0 auto;

  min-height: 370px;
  background-color: white;
  /* overflow: scroll;
  -webkit-overflow-scrolling: touch; */

}

#fullLeaderboardRow {
  width: 99%;
  height: 68px;
  margin: -2px auto;
  padding: 5px 3px;
}

#fullLeaderboardPosition {
  display: inline-block;
  vertical-align: middle;
  font-size: var(--fontSizeHeader3);
  width: 13%;
  height: 100%;
  text-align: center;
  line-height: 55px;
  box-shadow: 1px 1px 4px 1px lightgrey;
  border: 1px solid white;
  font-family: var(--brandFont);
  background-color: var(--brandColorMain);
  color: var(--brandColorHighlight2);
}

#fullLeaderboardPlayer {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 85%;
  box-shadow: 1px 1px 4px 1px lightgrey;
}

#fullLeaderboardImage {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 48px;
  border-radius: 100%;
  background-color: #f2f2f2;
  margin-left: 10px;
}

#fullLeaderboardName {
  display: inline-block;
  vertical-align: middle;
  font-size: var(--fontSizeMainText);
  height: 100%;
  width: 52%;
  margin-left: 3px;
  line-height: 57px;
  margin-left: 5px;
  font-family: var(--brandFont);
  color: var(--brandColorMain);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

#fullLeaderboardScore {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 23%;
  line-height: 55px;
  text-align: center;
  border: 1px solid white;
  float: right;
  font-family: var(--brandFont);
  color: var(--brandColorMain);
  font-size: var(--fontSizeHeader3);
  background-color: var(--brandColorHighlight2);
}

#leaderboardBuffer {
  width: 100%;
  height: 2px;
  border-bottom: 3px solid var(--brandColorMain);
  margin: 0 auto;
}

#fullLeaderboardScrollContainer {
  height: 365px;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  border-bottom: 3px solid var(--brandColorMain);
}

#noscorePlaceholder {
  color: lightgrey;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

/* END FULLLEADERBOARD */

/* START SCORESPAGE */
.scorepageButton {
  height: 90px;
  width: 295px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 15px auto;
  background-color: #F2F2F2;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid var(--brandColorHighlight2);

}

.scoresIconImage {
  height: 35px;
  display: block;
  margin: 0 auto;
}

#scoringScrollContainer {
  height: 107%;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#scorespageIconContainer {
  height: 64%;
  width: 100%;
  padding-top: 13px;
}

#scorespageTextContainer {
  height: 33%;
  width: 100%;
  line-height: 18px;
  text-align: center;
  font-size: var(--fontSizeHeader3);
  font-family: var(--brandFont);
}

/* #scorespageButtonRd1 {
  background-image:
  linear-gradient(170deg,
    rgba(254, 160, 2, 0.3),
    rgba(58, 23, 139, 0.9)),
  url(https://cdn-img.teeoff.com/course/491/491-000023.jpg);
  background-position: 40% 70%;
} */

#scorespageButtonRd1 {
  background-image:
  linear-gradient(170deg,
    var(--fadeColorHighlight),
    var(--fadeColorMain)),
  url(https://bayoubonanza-production.s3.us-east-2.amazonaws.com/OtherAssets/EnglishTurn.jpg);
  background-position: 40% 60%;
}

#scorespageButtonRd2 {
  background-image:
  linear-gradient(170deg,
    var(--fadeColorHighlight),
    var(--fadeColorMain)),
  url(https://bayoubonanza-production.s3.us-east-2.amazonaws.com/OtherAssets/BayouOaksSouth.jpg);
  background-position: 0% 40%;
}

#scorespageButtonRd3 {
  background-image:
  linear-gradient(170deg,
    var(--fadeColorHighlight),
    var(--fadeColorMain)),
  url(https://bayoubonanza-production.s3.us-east-2.amazonaws.com/OtherAssets/TPC_Louisiana.jpg);
  background-position: 0% 55%;
}

#scorespageButtonTipping {
  background-image:
  linear-gradient(170deg,
    var(--fadeColorHighlight),
    var(--fadeColorMain)),
  url(https://assets.playtech.com/application/files/6515/0002/0588/Block_1_H1_Banner.jpg?version=1551975690);
  background-position: 50% 50%;
}

#scorespageButtonTopGolf {
  background-image:
  linear-gradient(170deg,
    rgba(58, 23, 139, 0.3),
    rgba(254, 160, 2, 0.7)),
  url(https://ewscripps.brightspotcdn.com/dims4/default/032067a/2147483647/strip/true/crop/640x360+0+60/resize/1280x720!/quality/90/?url=https%3A%2F%2Fmediaassets.news5cleveland.com%2Fphoto%2F2018%2F02%2F15%2Ftop%20golf_1518713466747.jpg_78053813_ver1.0_640_480.jpg);
  background-position: 50% 50%;
}

#scorespageButtonSocial {
  background-image:
  linear-gradient(170deg,
    rgba(58, 23, 139, 0.3),
    rgba(254, 160, 2, 0.7)),
  url(http://www.realdetroitweekly.com/wp-content/uploads/2016/12/3D-Party.jpg);
  background-position: 50% 50%;
}

/* END SCORESPAGE */

/* START RD1HOLELIST */
#checkRoundLeaderboard {
  width: 95%;
  height: 50px;
  margin: 0px auto;
  border-radius: 5px;
  border: 2px solid var(--brandColorHighlight2);
  text-align: center;
  line-height: 45px;
  font-size: var(--fontSizeHeader2);
  color: var(--brandColorHighlight2);
  font-family: var(--brandFont);
  background-color: var(--brandColorMain);
  padding-top: 2px;
}

#leaderboardHighlightText {
    font-family: var(--brandFont);
    font-size: var(--fontSizeHeader2);
    color: white;
}

#rd1HoleList {
  width: 95%;
  height: 365px;
  margin: 0px auto;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  padding-left: 9px;
  padding-top: 3px;
  border: 1px solid var(--brandColorHighlight2);
}

#holeEntryButton {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  margin-bottom: 0px;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid #F8C145;
  float: left;
  font-size: 1.75rem;
  line-height: 57px;
}

#holeEntryButtonCTP {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 5px;
  margin-bottom: 0px;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  font-size: 1.75rem;
  line-height: 57px;
  float: left;
  text-align: center;
  z-index: 100;
  color: var(--brandColorMain);
  border: 2px solid var(--brandColorMain);
}

.holeEntryTussle {
  background-color: var(--brandColorHighlight2);
  font-weight: bold;
}

#holeEntryButtonCTPText {
  position: absolute;
  font-size: 1.75rem;
  line-height: 57px;
  width: 100%;
  z-index: 100;
}

#holeEntryButtonCTPIcon {
  position: absolute;
  height: 18px;
  bottom: 2px;
  left: 21px;
}

#holeEntryButtonTussle {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 5px;
  margin-bottom: 0px;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  background-color: #F8C145;
  border: 2px solid #051864;
  font-size: 1.75rem;
  line-height: 57px;
  float: left;
  text-align: center;
}


.ScorecardLink {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  margin-bottom: 0px;
  height: 65px;
  width: 130px;
  border-radius: 20px;
  background-color: #F2F2F2;
  font-size: 1rem;
  line-height: 57px;
  float: left;
  font-weight: bold;
  color: var(--brandColorMain);
  border: 2px solid var(--brandColorHighlight1);
}

#rd1ScorecardLink {
  background-image:
    linear-gradient(170deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)),
    url(https://duelinthedesert-production.s3.us-east-2.amazonaws.com/ScorecardImage.jpg);
  background-position: 30% 30%;
  background-size: cover;
}

#rd2ScorecardLink {
  background-image:
    linear-gradient(170deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)),
    url(https://duelinthedesert-production.s3.us-east-2.amazonaws.com/ScorecardImage.jpg);
  background-position: 30% 30%;
  background-size: cover;
}

#rd3ScorecardLink {
  background-image:
    linear-gradient(170deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)),
    url(https://duelinthedesert-production.s3.us-east-2.amazonaws.com/ScorecardImage.jpg);
  background-position: 30% 30%;
  background-size: cover;
}


/* END RD1HOLELIST */

/* START RD1HOLEDETAIL */
#holeDetailsContainer {
  height: 85px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 4px solid var(--brandColorHighlight1);
  width: 99%;
  margin: 0 auto;
  position: relative;
  background-color: var(--brandColorMain);
}

#holeNumber {
  display: inline-block;
  position: relative;
  top: 10px;
  vertical-align: top;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 0px 13px;
  background-color: white;
  text-align: center;
  line-height: 53px;
  border:4px solid var(--brandColorHighlight2);
  font-family: var(--brandFont);
  color: var(--brandColorMain);
  font-size: var(--fontSizeHeader1);
}

#holePar, #holeIndex {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 100%;
  text-align: center;
  padding-top: 22px;
  line-height: 18px;
  font-family: var(--brandFont);
  color: white;
  font-size: var(--fontSizeHeader2)

}

#holeDetailsHighlight {
  color: var(--brandColorHighlight2);
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader2);
}

#scoreEntryContainer {
  height: 100%;
  width: 100%;
  background-color: white;
  border: 1px solid white;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.playerRow {
  height: 65px;
  width: 98%;
  margin: 5px auto;
  box-shadow: 1px 1px 4px 2px #f2f2f2;
  padding: 5px;

}

.playerImage {
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

.playerName {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  height: 100%;
  line-height: 55px;
  margin-left: 15px;
  color: var(--brandColorMain);
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader3);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;


}

.scoreInputField {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 100%;
  float: right;
  background-color: #F2F2F2;
  border: none;
  text-align: center;
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader2);
  text-transform: uppercase;
  color: var(--brandColorMain);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ctpSubmit {
  position: absolute;
  top: 83px;
  left: 75px;
  height: 30px;
  width: 190px;
  z-index:100;
  border: 1px solid var(--brandColorHighlight1);
  background-color: var(--brandColorHighlight1);
}

#ctpLabelContainer {
  margin-left: 5px;
  display: inline-block;
  width: 17%;
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader3);
  text-transform: uppercase;
  color: var(--brandColorMain);
}

#ctpFormContainer {
  display: inline-block;
  width: 78%;
}

#id_ctp, #id_ld {
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader3);
  background-color: var(--brandColorHighlight1);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: white; /*BLUE #051864 */
  display: inline-block;
  margin: 2px auto;
  -webkit-appearance: none;
  border: 0;
  z-index: 100;
}

#tussleName {
  height: 15px;
  line-height: 20px;
  font-size: var(--fontSizeHeader3);
  width: 250px;
  position: absolute;
  top: -7px;
  left: 45px;
  z-index: 100;
  text-align: center;
  border-radius: 20px;
  font-family: var(--brandFont);
  background-color: var(--brandColorHighlight2);
  color: var(--brandColorMain);
}

#scoreScrollContainer {
  height: 270px;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}


#scoreSubmitContainer {
  background-color: white;
  border: 1px solid white;
  height: 100%;
  width: 99%;
  margin: 0 auto;
  box-sizing: border-box;
}

#submitButtonContainer {
  height: 80px;
  width: 100%;
  background-color: var(--brandColorMain);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 4px solid var(--brandColorHighlight1);
}

#holeDetailBackButton {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 10px;

}

#holeDetailBackIcon {
  height: 35px;
}

#scoreSubmitButton {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 85px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 3px solid white;
  background-color: var(--brandColorHighlight2);
  padding: 0px;
}
/* START LEADERBOARD */

#round1LeaderboardHeader {
  width: 95%;
  height: 50px;
  margin: 0px auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  line-height: 45px;
  padding-top: 5px;
  font-size: var(--fontSizeHeader2);
  background-color: var(--brandColorMain);
  border: 2px solid var(--brandColorMain);
  font-family: var(--brandFont);
  color: var(--brandColorHighlight2);
}
#rd1LeaderboardHighlight {
  color: white;
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader2);
}

#leaderboardHeaderRow {
  height: 20px;
  width: 100%;
  MARGIN: 0 AUTO;
  background-color: var(--brandColorHighlight1);
  color: white;
}

#headerRowPlayerName {
  display: inline-block;
  text-align: left;
  line-height: 20px;
  padding-left: 100px;
  width: 65%;
}
#headerRowPoints {
  display: inline-block;
  text-align: center;
  width: 15%;
}

#headerRowThru {
  display: inline-block;
  text-align: center;
  width: 15%;
}

#round1Leaderboard {
  width: 95%;
  height: 325px;
  margin: 0px auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  border: 2px solid var(--brandColorMain);
}

#leaderboardCounter {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 18px;
    width: 18px;
    background-color: grey;
    margin-left: -5px;
    margin-right: -15px;
    z-index:200px;
    border-radius: 100%;
    text-align: center;
    line-height: 16px;
    background-color: white;
    padding-top: 2px;
    border: 1px solid var(--brandColorHighlight2);
    color: var(--brandColorMain);
    font-family: var(--brandFont);
    font-size: var(--fontSizeHeader3);
}

#playerImage {
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

#leaderboardPlayerName {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  line-height: 55px;
  padding-left: 0px;
  width: 155px;
  height: 100%;
  margin-left: 5px;
  font-size: var(--fontSizeHeader3);
  font-family: var(--brandFont);
  color: var(--brandColorMain);
}

#leaderboardPlayerPoints {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  line-height: 55px;
  width: 45px;
  height: 100%;
  text-align: center;
  font-size: var(--fontSizeHeader3);
  font-family: var(--brandFont);
  color: var(--brandColorMain);
  background-color: var(--brandColorHighlight2);

}

#leaderboardPlayerHoles {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  line-height: 55px;
  margin-left: 5px;
  width: 40px;
  height: 100%;
  text-align: center;
  font-size: var(--fontSizeHeader3);
  font-family: var(--brandFont);
  color: var(--brandColorMain);
}

#leaderboardEnduranceLeader {
  position: relative;
  background-color: white;
  height: 30px;
  width: 30px;
  top: -25px;
  left: 35px;
  padding: 0px;
  border-radius: 100%;
  border: 2px solid var(--brandColorHighlight2);

}

#round1LeaderboardFooter {
  width: 95%;
  height: 60px;
  margin: 0px auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--brandColorMain);
  font-family: var(--brandFont);
}

#leaderboardBackButton {
  display: block;
  position: relative;
  top: 5px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px solid white;
  background-color: var(--brandColorHighlight2);
  text-align: center;
  line-height: 53px;
  font-size: var(--fontSizeHeader2);
}

#leaderboardBackIcon {
  position: relative;
  top: 0px;
  left: 0px;
  height: 50%;

}

/* END LEADERBOARD */

/* START ENTERTIPS */
#tipsScrollContainer {
  height: 460px;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}


#tipFormContainer {
  min-height: 430px;
  width: 95%;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 2px;
}

#tipFormHeader {
  height: 75px;
  width: 100%;
  border-bottom: 3px solid var(--brandColorHighlight1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--brandColorMain);
}

#tipFormIndyText {
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  color: var(--brandColorHighlight2);
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader2);
}

#tipFormDescText {
  text-align: center;
  color: white;
  font-weight: bold;
}

#tipFormAuthContainer {
  height: 70px;
  width: 90%;
  box-shadow: 1px 1px 4px 2px #F2F2F2;
  margin: 10px auto;
  border-radius: 10px;
  padding: 3px;
}

#authTopRow {
  height: 20%;
  width: 67%;
  line-height: 10px;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--brandColorMain);
  color: var(--brandColorMain);
}

#rightNameInstructions {
  display: inline-block;
  vertical-align: middle;
  height: 70%;
  width: 49%;
  margin-top: 4px;
}

#tippingUsername {
  height: 50%;
  line-height: 24px;
  padding-left: 4px;
  font-family: var(--brandFont);
  color: var(--brandColorMain);
  font-size: var(--fontSizeHeader4);
}

#tippingPassword {
  height: 50%;
  line-height: 24px;
  padding-left: 4px;
  font-family: var(--brandFont);
  color: var(--brandColorMain);
  font-size: var(--fontSizeHeader4);
}

#leftNameInput {
  display: inline-block;
  vertical-align: middle;
  height: 70%;
  width: 49%;
  margin-top: 4px;
}

#id_name {
  BORDER: 0;
  height: 20px;
  background-color: #F2F2F2;
  width: 100%;
  text-align-last: center;
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader4);
  text-transform: uppercase;
  color: var(--brandColorMain);
}

#id_password {
  BORDER: 0;
  height: 20px;
  background-color: #F2F2F2;
  width: 100%;
  text-align: center;
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader4);
  text-transform: uppercase;
  color: var(--brandColorMain);
}

#tippingUsernameInput {
  height: 50%;
  line-height: 24px;
}

#tippingPasswordInput {
  height: 50%;
  line-height: 24px;
}


#tipFormContentContainer {
  height: 140px;
  width: 90%;
  box-shadow: 1px 1px 4px 2px #F2F2F2;
  margin: 10px auto;
  border-radius: 10px;
  padding: 3px;
}

#toprow {
  height: 10%;
  width: 67%;
  border: 1px solid white;
  line-height: 10px;
  color: var(--brandColorMain);
  font-size: var(--fontSizeMainText);
  border-bottom: 1px solid var(--brandColorMain);
}

#corerow {
  height: 73%;
  width: 100%;
  background-color: lightgrey;
  border: 1px solid white;
  display: flex;
  justify-content: center;
}

#leftpanel {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 40%;
  background-color: white;

}

.teamImgContainer {
  height: 75px;
  width: 75px;
  background-color: lightgrey;
  margin: 3px auto;
  border-radius: 100%;
  box-shadow: 1px 1px 4px 1px grey;
  border: 1px solid white;
}

#teamTextContainer {
  text-align: center;
  line-height: 11px;
  padding-top: 3px;
  color: var(--brandColorMain);
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader4);
  font-weight: bold;

}

#midpanel {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 20%;
  background-color: white;

}

#sportsIcon {
  height: 40%;
  width: 100%;

}

#vsContainer {
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 24px;
  font-family: var(--brandFont);
  color: var(--brandColorMain);
}

#dateContainer {
  height: 30%;
  width: 100%;
  color: grey;
  text-align: center;
  line-height: 26px;
  font-size: var(--fontSizeMainText);
  color: var(--brandColorMain);
  font-weight: bold;

}

#rightpanel {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 40%;
  background-color: white;
}

#submitrow {
  height: 16%;
  width: 99%;
  margin: 0 auto;
  padding-top:2px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--brandColorHighlight2);
}

#tipFormSubmitContainer {
  height: 75px;
  width: 90%;
  box-shadow: 1px 1px 4px 2px #F2F2F2;
  margin: 10px auto;
  border-radius: 10px;
  padding: 3px;
  background-color: var(--brandColorMain);
  border: 2px solid var(--brandColorHighlight1);

}

#tipsSubmitButton {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 3px solid white;
  margin: 0px auto;
  margin-top: 12px;
  background-color: var(--brandColorHighlight2);
}

#tipsSubmitIcon {
  height: 70%;
  width: 70%;
  margin-left: -5px;
  margin-top: 2px;
}

#id_game1, #id_game2, #id_game3, #id_game4, #id_game5, #id_game6, #id_game7, #id_game8, #id_game9, #id_game10 {
  border: 0;
  -webkit-appearance: none;
  background: none;
  text-align-last: center;
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader4);
  text-transform: uppercase;
  color: var(--brandColorMain);
  width: 160px;
  display: block;
  margin: 0 auto;
  }

  #netsIMG {
    background-image: url(https://media2.giphy.com/media/xT9KVxF9kh6JOeLEgo/source.gif);
    background-position: 50% 50%;
    background-size: 150px;
    background-repeat: no-repeat;

  }

  #rocketsIMG {
    background-image: url(https://media3.giphy.com/media/l41lXGxBwXYFcJoJ2/source.gif);
    background-position: 50% 70%;
    background-size: 150px;
    background-repeat: no-repeat;

  }


#lightningIMG {
  background-image: url(https://media3.giphy.com/media/xT1XGv8TinfJKRMYy4/source.gif);
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;

}

#islandersIMG {
  background-image: url(https://media.giphy.com/media/t7R6I2uZ2qRhMiR5g4/giphy.gif);
  background-position: 60% 50%;
  background-size: 130px;
  background-repeat: no-repeat;

}

#oilersIMG {
  background-image: url(https://media.giphy.com/media/nf8VUBTbpqvN6/giphy.gif);
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;

}

#penguinsIMG {
  background-image: url(https://media2.giphy.com/media/xUPGcfMRQ4YtqUNUxG/source.gif);
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
}

#raptorsIMG {
  background-image: url(https://media3.giphy.com/media/YXVqWUjjb49Ne/source.gif);
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
}

#bucksIMG {
  background-image: url(https://media3.giphy.com/media/l4FGC9uKnT8C4Qw0w/giphy.gif);
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
}

#crystalIMG {
  background-image: url(https://media2.giphy.com/media/fepr8N4lbpAP4uVmml/giphy.gif);
  background-position: 50% 50%;
  background-size: 160px;
  background-repeat: no-repeat;

}

#leicesterIMG {
  background-image: url(https://media0.giphy.com/media/FdkcnYvveO9b2/source.gif);
  background-position: 50% 50%;
  background-size: 160px;
  background-repeat: no-repeat;

}

#arsenalIMG {
  background-image: url(https://media.giphy.com/media/lTTefuonQzIRO/giphy.gif);
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;

}

#wolvesIMG {
  background-image: url(https://thumbs.gfycat.com/DecimalPointedCreature-small.gif);
  background-position: 60% 70%;
  background-size: 150px;
  background-repeat: no-repeat;

}

#olemissIMG {
  background-image: url(https://cdn.vox-cdn.com/uploads/chorus_asset/file/8987049/de5feb310a77fc0f0cb9539c0215f3cc.gif);
  background-position: 80% 50%;
  background-size: 160px;
  background-repeat: no-repeat;

}

#auburnIMG {
  background-image: url(https://media.giphy.com/media/QZF8DPLPQqg1O/giphy.gif);
  background-position: 40% 70%;
  background-size: 130px;
  background-repeat: no-repeat;

}


#oregonIMG {
  background-image: url(https://media.giphy.com/media/WqkNB9LRhWpMs/giphy.gif);
  background-position: 70% 50%;
  background-size: 160px;
  background-repeat: no-repeat;

}

#uscIMG {
  background-image: url(https://media.giphy.com/media/12kjGNKi50kH4s/giphy.gif);
  background-position: 40% 70%;
  background-size: 150px;
  background-repeat: no-repeat;
}

#englandIMG {
  background-image: url(https://media3.giphy.com/media/DlUHz1lj4CpOg/giphy.gif);
  background-position: 55% 45%;
  background-size: 160px;
  background-repeat: no-repeat;

}

#southafricaIMG {
  background-image: url(https://media1.giphy.com/media/xThtao8Yn3pmU2UbTy/giphy.gif);
  background-position: 50% 50%;
  background-size: 140px;
  background-repeat: no-repeat;

}

#miamiIMG {
  background-image: url(https://media.giphy.com/media/uN9CtBUTdPPP2/giphy.gif);
  background-position: 50% 50%;
  background-size: 160px;
  background-repeat: no-repeat;

}

#floridastateIMG {
  background-image: url(https://media3.giphy.com/media/3ohzgJRBVq22ySKdna/giphy.gif);
  background-position: 70% 0%;
  background-size: 160px;
  background-repeat: no-repeat;

}

/* END ENTERTIPS */

/* START TIPS RESULTS */
#resultsTile {
  min-height: 400px;
  width: 90%;
  margin: 10px auto;
  padding-bottom: 10px;
  border-radius: 20px;
}

#resultsHeader {
  height: 75px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--brandColorMain);
}

#indyResultsHeader {
  height: 55%;
  width: 100%;
  text-align: center;
  line-height: 60px;
  color: var(--brandColorHighlight1);
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader2);


}

#textResultsHeader {
  width: 100%;
  text-align: center;
  color: white;
}

#resultsResultsTile {
  height: 25px;
  width: 100%;
  margin: 0px auto;
  padding: 0 10px;
  color: var(--brandColorHighlight2);
}

#resultsResultsText {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 75%;
  line-height: 25px;
  font-family: var(--brandFont);
  color: var(--brandColorMain);
  font-size: var(--fontSizeHeader3);

}

#resultsResultsNum {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 60px;
  text-align: center;
  line-height: 25px;
  font-family: var(--brandFont);
  color: var(--brandColorMain);
  font-size: var(--fontSizeHeader3);
}

#playerResultsTile {
  height: 55px;
  width: 100%;

  margin: 10px auto;
  padding: 0 10px;
}

#playerResultsImg {
  height: 55px;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;

}
#playerResultsSubmit {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  margin-left: 5px;
}

#playerResultsName{
  height: 60%;
  width: 100%;
  line-height: 50px;
  color: var(--brandColorMain);
  font-family: var(--brandFont);
}

#playerResultsTime{
  width: 100%;
  color: lightgrey;
  font-size: var(--fontSizeMainText);
}

#playerResultsScore {
  height: 90%;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  line-height: 45px;
  text-align: center;
  font-family: var(--brandFont);
  color: var(--brandColorHighlight1);
  background-color: var(--brandColorHighlight3);
  border: 2px solid var(--brandColorMain);
}

#resultsBorderBuffer {
  width: 80%;
  height: 5px;
  border-bottom: 2px solid #F2F2F2;
  margin: 0 auto;
}

#backToTipEntry{
  height: 50px;
  width: 50px;
  margin: 10px auto;
  border-radius: 100%;
  background-color: var(--brandColorMain);
  border: 2px solid var(--brandColorHighlight2);
}




/* END TIPS RESULTS */

/* START SOCIAL */
#socialScrollContainer {
  height: 460px;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}

#socialFormContainer {
  height: 325px;
  width: 90%;
  margin: 5px auto;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 10px;

}

#socialFormHeader {
  height: 75px;
  width: 100%;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#socialTopText {
  height: 40px;
  width: 100%;
  line-height: 60px;
}

#socialBottomText {
  height: 20px;
  width: 100%;
}

#socialFormBody {
  height: 175px;
  width: 100%;
  background-color: white;
}

#socialAuthContainer {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 4px 0px;
}

#socialInstructions, #socialInput {
  height: 100%;
  width: 55%;
  padding: 0px 7px;
}

#yourNameInstructions, #yourPwdInstructions {
  height: 40px;
  width: 100%;
  text-align: left;
  line-height: 40px;
}

#bestInstructions, #honorableInstructions {
  height: 35px;
  width: 100%;
  text-align: left;
  line-height: 35px;
  margin: 2px 0;
  padding-left: 2px;
}

/* Friday form */

#id_friday-name, #id_friday-password {
  background-color: #F2F2F2;
  height: 37px;
  width: 100%;
  text-align: left;
  margin: 1px 0px;
  -webkit-appearance: none;
  border: 0;
  text-align: center;
  padding-left: 5px;
  color: #3A178B;
  font-weight: BOLD;
  border-radius: 5px;
}

#id_friday-best, #id_friday-honorable {
  height: 35px;
  width: 100%;
  text-align: left;
  margin: 2px 0px;
  -webkit-appearance: none;
  border: 0;
  text-align: center;
  padding-left: 5px;
  color: blue;
  font-weight: bold;

}

#id_friday-best {
  background-color: #FEA002;
  color: #3A178B;
}

#id_friday-honorable {
  background-color: #F2F2F2;
  color: #3A178B;
}

/* End Friday form */

/* Start Saturday form */


#id_saturday-name, #id_saturday-password {
  background-color: #F2F2F2;
  height: 37px;
  width: 100%;
  text-align: left;
  margin: 1px 0px;
  -webkit-appearance: none;
  border: 0;
  text-align: center;
  padding-left: 5px;
  color: #051864;
  font-weight: BOLD;
  border-radius: 5px;
}

#id_saturday-best, #id_saturday-honorable {
  height: 35px;
  width: 100%;
  text-align: left;
  margin: 2px 0px;
  -webkit-appearance: none;
  border: 0;
  text-align: center;
  padding-left: 5px;
  color: #3A178B;
  font-weight: bold;

}

#id_saturday-best {
  background-color: #FEA002;
  color: #3A178B;
}

#id_saturday-honorable {
  background-color: #F2F2F2;
  color: #3A178B;
}

/* End Saturday form */

#socialFormSubmit {
  height: 75px;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#socialSubmitButton {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border: 2px solid white;
  margin-top: 20px;
}

#socialSubmitIcon {
  height: 30px;
  width: 30px;
  margin-top: -2px;
}

/* END SOCIAL */

/* START TOUR DETAILS */
#tourdetailsButtonAgenda {
  background-image:
  linear-gradient(170deg,
      rgba(5, 159, 255, 0),
      rgba(0, 10, 22, 1)),
  url(https://media.giphy.com/media/10rsLtGrOcCR0s/giphy.gif);
  background-position: 40% 20%;
}

#tourdetailsButtonMap {
  background-image:
  linear-gradient(170deg,
    rgba(5, 159, 255, 0.1),
    rgba(0, 10, 22, 1)),
  url(https://i.gifer.com/eQv.gif);
  background-position: 40% 20%;
}

#tourdetailsButtonPlayers {
  background-image:
  linear-gradient(170deg,
    rgba(5, 159, 255, 0.1),
    rgba(0, 10, 22, 0.6)),
  url(https://media1.tenor.com/images/33ffa1dea5bb4f374b535edff271a409/tenor.gif?itemid=5467302);
  background-position: 0% 40%;
}

/* END TOUR DETAILS */

/* START TOUR AGENDA */ /* YELLOW #F8C145 BLUE #051864 */

#agendaTile {
  min-height: 300px;
  width: 95%;
  border-radius: 20px;
  margin: 10px auto;
  padding-bottom: 20px;
}

#agendaTileHeader {
  height: 75px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 2px solid #051864;
}

#agendaIndyHeader {
    height: 65%;
    width: 100%;
    text-align: center;
    line-height: 70px;
    font-size: 2rem;

}

#agendaSubHeader {
  text-align: center;
}

#dayHeader {
  height: 30px;
  width: 100%;
  border-bottom: 2px solid #051864;
  border-top: 2px solid #051864;
  margin: 5px auto;
  padding: 0px 3px;
  line-height: 23px;
}

#eventEntryContainer {
  height: 45px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 3px;
  display: flex;
  justify-content: space-around;

}

#timeContainer {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 30%;
  line-height: 30px;
  padding: 0px 3px;
}

#eventContainer{
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 80%;
  position: relative;
}

#eventDetails {
  width: 100%;
  height: 50%;
  line-height: 30px;
}

#locationDetails {
  width: 100%;
  height: 40%;
}

#eventPoints {
  position: absolute;
  top: 0px;
  right: 5px;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 7px;
}

#eventBuffer {
  height: 5px;
  width: 70%;
  border-bottom: 1px solid #051864;
  margin: 0 auto;
}

#fullscreenScrollContainer {
  height: 460px;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}

/* START TOUR MAP */ /* YELLOW #F8C145 BLUE #051864 */
#mapTile {
  height: 420px;
  width: 95%;
  border-radius: 20px;
  margin: 5px auto;
  padding: 3px 0px;
  padding-top: 15px;
  position: relative;
}

#mapHeader {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 65px;
  background-color: #F8C145;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 3px solid white;
}

#mapIndyHeader {
    height: 65%;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 2rem;
}

#mapSubHeader {
  text-align: center;
  color: white;
}

#mapContainer {
  margin: 0 auto;
  width: 100%;
  height: 95%;
}

#mapFooter {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 40px;
  background-color: #F8C145;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 3px solid white;
}


/* START PLAYER DETAIL */

#playerTile {
  min-height: 420px;
  width: 95%;
  border-radius: 20px;
  margin: 7px auto;
  padding-bottom: 15px;

}

#playerTileHeader {
  height: 75px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 4px solid var(--brandColorHighlight2);
  background-color: var(--brandColorMain);

}

#playerIndyHeader {
    height: 65%;
    width: 100%;
    text-align: center;
    line-height: 70px;
    font-size: var(--fontSizeHeader2);
    font-family: var(--brandFont);
    color: var(--brandColorHighlight2);
}

#playerSubHeader {
  text-align: center;
  color: white;
  font-weight: bold;
}

#playerDetailsTile {
  height: 85px;
  width: 95%;
  margin: 10px auto;
  position: relative;
  border-radius: 10px;
}

#imgContainer {
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  margin: 2%;
  border: 2px solid var(--brandColorHighlight2);
}

#tourNumber {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 29px;
  font-family: var(--brandFont);
  background-color: var(--brandColorHighlight2);
  border: 2px solid var(--brandColorMain);
  color: var(--brandColorMain);
  font-size: var(--fontSizeHeader3);

}

#jacketIcon {
  position: absolute;
  top: 2px;
  right: 3px;
  height: 30px;
  width: 30px;

}

#contentHeader {
  height: 40%;
  width: 100%;
}

#tourIcon {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 14%;
}

#contentContainer {
  display: inline-block;
  vertical-align: middle;
  height: 90%;
  width: 215px;
}

#detailsPlayerName {
  display: inline-block;
  vertical-align: middle;
  height: 90%;
  width: 84%;
  line-height: 32px;
  padding-left: 0px;
  padding-bottom: 0px;
  color: var(--brandColorMain);
  font-family: var(--brandFont);
  font-size: var(--fontSizeMainText);
  line-height: 32px;
}

#contentDescription {
  height: 85%;
  width: 82%;
  font-size: 0.7rem;
  text-align: left;
  margin-left: 36px;
  padding-top: -1px;

}
#contentNickname {
  height: 55%;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  line-height: 22px;
  font-size: var(--fontSizeMainText);
  background-color: var(--brandColorHighlight2);
  color: var(--brandColorMain);
  font-family: var(--brandFont);



}

/* START TOP GOLF */

#topGolfContainer {
  min-height: 400px;
  width: 95%;
  margin: 10px auto;
  border-radius: 20px;
}

#topGolfHeader {
  height: 90px;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
}

#topGolfHeaderTextTop {
  height: 55px;
  width: 100%;
  text-align: center;
  line-height: 80px;
  font-size: 2.5rem;
}

#topGolfheaderTextBottom {
  font-weight: bold;
  text-align: center;
}

#topGolfBody {
  min-height: 220px;
  width: 100%;

  padding: 5px 0;
}

#topGolfResultRow {
  height: 65px;
  width: 95%;
  margin: 7px AUTO;
  padding: 5px;

}

.topGolfImage {
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}

#topGolfText {
  width: 80px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 55px;
  padding-left: 5px;

}

#topGolfForm {
  width: 130px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 55px;
  margin-left: 10px;

}

#topGolfFooter {
  height: 90px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 20px;
}

#topGolfBackButton{
  height: 50px;
  width: 50px;
  margin: 0 auto;
  border-radius: 100%;
}

/* PlayerDetailCSS */

#playerDetailHeaderBox {
  height: 105px;
  width: 340px;
  border-radius: 10px;
  margin: 0px auto;
  margin-bottom: 10px;
  position: relative;
  background-color: white;

}

#playerDetailImageContainer {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 5px;
  border: 2px solid var(--brandColorHighlight2);
}

#playerDetailName, #playerDetailHC, #playerDetailTourNo, #playerDetailHighFinish, #playerDetailTotalPoints {
  min-height: 20px;
  width: 160px;
  position: absolute;
  overflow-x: hidden;
  white-space: nowrap;
  left: 95px;
  text-overflow: ellipsis;
}

#playerDetailName {
  top: 15px;
  font-family: var(--brandFont);
  color: var(--brandColorMain);
  font-size: var(--fontSizeHeader3);

}

#playerDetailHC {
  top: 35px;
}

#playerDetailTourNo {
  top: 50px;
}

#playerDetailHighFinish {
  top: 65px;
}

#playerDetailTotalPoints {
  top: 80px;
  color: var(--brandColorMain);
}

#playerDetailRankContainer {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  right: 5px;
  text-align: center;
  line-height: 80px;
  border: 2px solid var(--brandColorMain);
  background-color: var(--brandColorHighlight2);
  color: var(--brandColorMain);
  font-family: var(--brandFont);
  font-size: var(--fontSizeHeader2);

}

#playerDetailScrollContainer {
  height: 450px;
  width: 100%;
  background-color: white;
  overflow: scroll;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 2px solid var(--brandColorHighlight2);
  -webkit-overflow-scrolling: touch;

}

#playerDetailResultsBox {
  height: 110px;
  width: 340px;
  border-radius: 10px;
  margin: 0px auto;
  margin-bottom: 10px;
  position: relative;

}

#playerDetailRoundNo {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 5px;
  text-align: center;
  line-height: 80px;
  border: 2px solid var(--brandColorHighlight2);
  font-family: var(--brandFont);
  color: var(--brandColorHighlight2);
  font-size: var(--fontSizeHeader2);

}

#playerDetailRd1GolfScore, #playerDetailRd1StblScore, #playerDetailRd1RdPoints, #playerDetailRd1CTPLDPoints, #playerDetailRd1BonusPoints, #playerDetailRd1TotalPoints, #playerDetailSocialPoints, #playerDetailDressedPoints , #playerDetailTippingPoints, #playerDetailOtherTotalPoints {
  width: 153px;
  position: absolute;
  left: 92px;
}

#playerDetailRd1GolfScore {
  top: 10px;
}

#playerDetailRd1StblScore {
  top: 25px;
  padding-bottom: 1px;
  border-bottom: 1px solid grey;
}

#playerDetailRd1RdPoints {
  top: 42px;
}

#playerDetailRd1CTPLDPoints {
  top: 57px;
}

#playerDetailRd1BonusPoints {
  top: 72px;
}

#playerDetailRd1TotalPoints {
  top: 87px;
}

#playerDetailSocialPoints {
  top: 20px;
}

#playerDetailDressedPoints {
  top: 37px;
}

#playerDetailTippingPoints {
  top: 54px;
}

#playerDetailOtherTotalPoints {
  top: 71px;
}

#showMatchReportButton {
  height: 30px;
  line-height: 30px;
  color: white;
  background-color: var(--brandColorMain);
}

#matchReportContainer {
  width: 95%;
  margin: 0px auto;
  display: none;
}


/*DESKTOP RESPONSIVE*/
@media only screen
and (min-device-width : 375px)
and (min-device-height : 810px)  {
#bodyContentContainer {
    height: 550px;
    padding-top: 20px;
  }

#fullLeaderboardScrollContainer,#scoringScrollContainer, #tipsScrollContainer, #socialScrollContainer, #fullscreenScrollContainer{
    height: 550px;
    -webkit-overflow-scrolling: touch;
}

#scoreScrollContainer {
    height: 340px;
    -webkit-overflow-scrolling: touch;
}

#round1Leaderboard {
  height: 380px;
  -webkit-overflow-scrolling: touch;
}

}
